*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* change the font */
    font-family: 'Ubuntu', sans-serif;
}

html , body{
    width: 100%;
    height: 100%;
}
/* root variables to specify colors , change the color as you want */
:root{
    --bg--color: rgba(0, 0, 0, 0.953);
    --text-color : #ffffff;
    --main-color: #ff7300;
    --second-color : gray;
    --other-color: #12141c;
    --h1-font: 5rem;
    --h2-font : 3.2rem;
    --p-font : 1.2rem;
    
}
body{
    background: var(--bg--color);
    color: var(--text-color);
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding: 12px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40 ease;
}

.logo img{
    width: 9rem;
    height: auto;
    transition: all .40s ease;
}
.logo img:hover{
    width: 10rem;
}

.navbar{
    display: flex;

}
.navbar li a{
    color: var(--second-color);
    font-size: var(--p-font);
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--main-color);
    font-weight: 900;
    font-size:1.3rem ;
}

#menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 160px 16% 90px ;
}
.home{
    height: 100vh ;
    width: 100%;
    position: relative;
    background: url(img/hero-background.png) ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}
.home-text span{
    color: var(--main-color);
}

.home-text h4{
    color: var(--main-color);
    font-size: 5vmin;
    font-weight: 600;
    margin-bottom: 1rem;
}
.home-text h4 img{
    width: 7vmin;
}
.home-text h5{
    color: var(--main-color);
    font-size: 4vmin;
    font-weight: 600;
    margin-bottom: 1rem;
}
.home-text h5 Span{
    color: var(--text-color);
    font-size: 4vmin;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home-text button{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 800;
    transition: all 0.40s ease;
}

.home-text button:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 20px;

}